@model List<Testimonial>

@{
    Layout = null;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<h3>Kullaıcı Yorumları </h3>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Ad Syoad</th>
        <th>Şehir</th>
        <th>GörselUrl</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.TestimonialId.</td>
            <td>@x.Title</td>
            <td>@x.Description</td>
            <td>@x.Name</td>
            <td>@x.City</td>
            <td>@x.ImageUrl</td>

        </tr>

    }
</table>